.products_and_filter_container {
  /* border: 1px solid red; */
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.products_and_filter_container ::-webkit-scrollbar {
  display: none;
}
.productFilter_container,
.products_container {
   
}

.productFilter_container {
  width: 21%;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.products_container {
  width: 77%;
}
.product_listing_count_container {
   
  height: 8%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: sticky;
  top: 115px;
  z-index: 98;
  background-color: white;
}
.total_products,
.product_category,
.sorting_filter_cont {
  border: 1px solid grey;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
}

.product_cards_container {
  width: 100%;
  height: 90vh;
  padding-top: 15px;
  overflow-y: scroll;
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(3, 29%);
  justify-content: center;
  gap: 20px;
}
.product_cards_container::-webkit-scrollbar {
  display: none;
}
.divss {
  border: 1px solid rgb(188, 204, 233);

  border-radius: 17px;

  transition: 0.3s ease;
}
.divss:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 15px;
  border: 1px solid rgb(186, 186, 186);
}

/* media queries  */

@media (max-width: 1080px) {
}

/* responsive css style 
@media (max-width: 998px) {
} */

@media (max-width: 1100px) {
  .products_container {
    width: 100%;
  }
  .product_cards_container {
    width: 100%;
    overflow-y: auto;

    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 49%);
    row-gap: 25px;
  }
  .productFilter_container {
    width: 26%;
  }
}

@media (max-width: 530px) {
  .product_listing_count_container {
    height: 4%;
    position: sticky;
    top: -3px;
    z-index: 100;
    width: 100%;
  }
  .productFilter_container {
    display: none;
  }

  .products_container {
    width: 100%;
    overflow-y: auto;
  }
  .product_cards_container {
    width: 100%;
    height: auto;

    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(1, 97%);
    row-gap: 25px;
  }
  .products_and_filter_container {
    /* border: 1px solid red; */
    max-width: 99%;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .product_page_banner {
    z-index: 0;
    /* display: none; */
  }
}
