.Navbar {
  display: flex;
  justify-content: space-between;
}
.Navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.Navbar > ul > p {
  border-right: 1px solid black;
  /* flex: 1; */
  margin: 0px;
  font-size: 10px;
  padding: 0px 12px;
}
@media all and (min-width: 0px) and (max-width: 1064px) {
  .Navbar {
    display: none;
  }
}
