body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-225deg, #ff3898 0%, #3190d3 50%, #b4faff 100%);
  border-radius: 20px;
  height: 30px;
  margin-top: 50px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

 